*{
    margin: 0%;
    padding: 0%;
}

.Main_Card{
    width: 92%;
    max-width: 470px;
    background: linear-gradient(140deg, #00feba, #5b548a);
    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 36px;
    text-align: center;
}

.input_text{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    
}

.search_item{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.664);
    cursor: pointer;
    background-color: #fff;
}

.weather_icon{
    width: 170px;
    margin-top: 32px;
}

.weather h1{
    font-size: 77px;
    font-weight: 490;
    margin-top: -10px;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -7px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;

}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}


.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 25px;
    margin-top: -6px;
}